# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Uploads and temporary files
uploads/
*.pdf
*.docx
*.txt
!requirements.txt

# Flask
instance/
.webassets-cache

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Ignore SQLite
*.sqlite3
